<div class="card">
  <div class="card-image"><img src="../../public/image/04-th (21).jpeg" alt="group of people doing various exercises" style="height: 90%"/></div>
  <h4>{{activity.activity_type}}</h4>
  <p>{{activity.durration}}</p>
  <p>{{activity.date_created}}</p>
</div>
