 {{#each activities as |activity| }}
 <div class="card">
      <div class="card-image"><img src="/assets/image/th (21).jpeg"
        alt="" style="height: 90%"
        /></div>
      <p>10 core Exercises to Supercharge Gains</p>
    </div>
    {{/each}}