<section class="container">
    <div class="card">
      <div class="card-image"> <a
        href="https://www.crunch.com/"
        target="tips"
        title="Fitfolio"
      ><img src="/assets/image/th (21).jpeg"
        alt="" style="height: 90%"
        /></div>
      <p>10 core Exercises to Supercharge Gains</p>
    </div>
    <div class="card">
      <div class="card-image"><a
        href="https://www.crunch.com/"
        target="tips"
        title="Fitfolio"
      >
  <img
    src="/assets/image/Red-Guava-PNG-Download-Image.png"
    alt=""
    style="height: 105%"/>
    <p>Guava superfood for heart health</p>

</div></div>
    </div>
    <div class="card">
      <div class="card-image"><a
        href="https://www.crunch.com/"
        target="tips"
        title="Fitfolio"
      >
  <img
    src="/assets/image/maxresdefault.jpg"
    alt=""
    style="height: 90%"
  /></div>
      <p>Try this 5-Minute Boxing inspired Dumbbell workout for power</p>
    </div>
    <div class="card">
      <div class="card-image"><a
        href="https://www.crunch.com/"
        target="tips"
        title="Fitfolio"
      >
  <img
    src="/assets/image/running sh.jpg"
    alt=""
    style="height: 90%"></div>
      <p>13 Best pairs of Running shorts 2023</p>
    </div>
  </section>