<div class="card flex-item">
  <div class="card-image"><img src="image/04-th (21).jpeg" alt="group of people doing various exercises" />
  </div>
  <h4>Activity Type: {{activity_type}}</h4>
  <p>{{duration}} minutes</p>
  <p>Date {{date_created}}</p>
</div>
