<h2>Daily Log Entry</h2>

<form class="form daily-log-form">
    <div class="form-group">
        <label for="stat-type">stat:</label>
        <input class="form-input" list="stat-type" id="stat"/>
        <datalist id="stat-type">
            <option value="steps">
            <option value="calories">
        </datalist>
    </div>

    <div class="form-group">
        <label for="stat-amount">amount:</label>
        <input class="form-input" type="number" id="stat-amount" min="1"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="js/daily-log-entry.js"></script>
