<h2>Sign-Up</h2>

<form class="form actvity-form">
    <div class="form-group">
        <label for="activity-type">activity type:</label>
        <input class="form-input" list="activity-type"/>
        <datalist id="browsers">
            <option value="Internet Explorer">
            <option value="Firefox">
            <option value="Chrome">
            <option value="Opera">
            <option value="Safari">
        </datalist>
    </div>

    <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>

    <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
    </div>

    <div class="form-group">
        <label for="height">height:</label>
        <input class="form-input" type="text" id="height" />
    </div>

    <div class="form-group">
        <label for="weight">weight:</label>
        <input class="form-input" type="text" id="weight" />
    </div>

    <div class="form-group">
        <label for="age">age:</label>
        <input class="form-input" type="text" id="age" />
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
    </div>
</form>

<script src="/public/js/activity-input.js"></script>
