
<section class="columns main-stats justify-space-between">
  <div class="column stat steps">
    <div class="img-container">    
      <img src="img/Long_Distance_Runners,_Ancient_Greece,_Amphora.png" alt="woman running">
    </div>
    <p>{{dailylog.steps}} Steps Today</p>
  </div>

  <div class="column stat calories">
    <div class="img-container">    
      <img src="image/02-meal-prep-black-lunch.webp" alt="healthy lunch set out">
    </div>
    <p>{{dailylog.calories}} Calories Eaten Today</p>
  </div>

  <div class="column stat high-intensity">
    <div class="img-container">    
      <img src="image/03-wp2491522.jpg" alt="hand lifting weight">
    </div>
    <p>Lifetime Activities: {{activities.length}}</p>
  </div>
</section>


<section class="activity-feed">
<h2 class="feed-header">Activity Feed</h2>
    {{#if activities.length}}
      {{#each activities as |activity|}}
      {{> activity-details}}
      {{/each}}
    {{/if}}
</section>


    {{!-- modals --}}
  <div class="modals">
    <div class="modal" id="daily-log-modal">
      <div class="modal-background" id="dl-modal-background"></div>
        <div class="modal-content has-background-white p-5" id="dl-modal-content">
          {{> daily-log-entry}}
        </div>
      </div>

    <div class="modal" id="activity-modal">
      <div class="modal-background" id="act-modal-background"></div>
        <div class="modal-content has-background-white p-5" id="act-modal-content">
          {{> activity-entry}}
        </div>
      </div>
  </div>

<script src="js/modal-logic.js"></script>