{{#each users as |user|}}
  <div
    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-3-fullhd"
  >
    <div class="column">

      <img src="/assets/image/th (1).jpeg" alt="" style="width: 80%" />
      <p>Stops</p>
    </div>
    <div class="column">
      <img
        src="/assets/image/meal-prep-black-lunch.webp"
        alt=""
        style="width: 80%"
        ,
        border-radius:
        100px;
      />
      <p>calories Intake</p>
    </div>
    <div class="column">
      <img src="/assets/image/wp2491522.jpg" alt="" style="width: 80%" />
      <p>High intensity Minutes</p>
    </div>
  </div>
{{/each}}