<section class="columns main-stats justify-space-between">
  <div class="column stat steps">
    <div class="img-container">    
      <img src="../public/image/01-th (1).jpeg" alt="woman running">
    </div>
    <p>{{dailylog.step_count}}</p>
  </div>

  <div class="column stat calories">
    <div class="img-container">    
      <img src="../public/image/02-meal-prep-black-lunch.webp" alt="healthy lunch set out">
    </div>
    <p>{{dailylog.calories_consumed}}</p>
  </div>

  <div class="column stat high-intensity">
    <div class="img-container">    
      <img src="../public/image/03-wp2491522.jpg" alt="hand lifting weight">
    </div>
    <p>{{dailylog.activity_minutes}}</p>
  </div>
</section>

<section class="activity-feed">
    {{#if projects.length}}
      {{#each activities as |activity|}}
      {{> activity-details}}
      {{/each}}
    {{/if}}
</section>