html,body {
  height: 100;
}

h1 {
  background-color: rgb(162, 197, 220);
  padding: 30px;
  border-top: 25px solid rgb(201, 201, 201);
  height: auto;
  min-height: 50px;
  color: paleturquoise;
  font-size: xx-large;
}

hr {
  border: 20px;
  height: 1px;
  color: #333;
  background-color: #333;
}

.column img {
  border-radius: 100px;
}

.p {
  text-align: center;
  font-style: italic;
  font-size: 10;
  font-variant-position: sub;
}

body {
  background-color: #333;
  background-image: url('../img/Long_Distance_Runners\,_Ancient_Greece\,_Amphora.png');
}